/* @group Admin Bar for meta data */
#seo_admin_bar
{
	background-color:#CCCCCC;
	display:block;
	left:0;
	margin:0;
	padding-left:20px;
	position:absolute;
	top:0;
	z-index:1001;
	opacity:.95;
	font-size:12px;
}
#seo_admin_bar ul
{
	margin:0;
	padding:0;
}

#seo_admin_forms li
{
	margin:0;
	float:left;
	list-style-type:none;
	padding-right:20px;
}
#seo_admin_forms form
{
	padding-bottom:20px;
}
#seo_admin_buttons li
{
	float:left;
	list-style-type:none;
	padding:5px 20px 5px 0;
	margin-right:10px;
	background: transparent none no-repeat right center;
}
#seo_admin_buttons li.sitemap
{
	background-image:url(../images/sitemap.gif);
}
#seo_admin_buttons li.metadata
{
	background-image:url(../images/metadata.gif);
}
#seo_admin_buttons a
{
color:#444;
}
#seo_admin_forms input, #seo_admin_forms textarea, #seo_admin_forms select 
{
display:block;
}

/* @End*/